*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

html {
  font-size: 10px; 
}

img{
  max-width: 2.5rem;
}

nav {
  font-size: 1.2rem;
  font-family: 'Omar Light';
  text-transform: uppercase;
}

body{
  background:no-repeat center 100% url(./assets/background.png);
  font-family: "Oita W01 Cond Medium";
  color: white;
}

main{
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.container{
  max-width: 97vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 2rem;
  margin: 0 auto;
  border: 1px solid white;
}


.nav-main{
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 15vh;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  margin: 0 auto;
  border-bottom: 5px solid gray;
  padding-top: 0.6rem;
}
/* .nav-menu > img{
  max-width: 2.5rem;
} */

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
}

.nav-link{
  letter-spacing: 0.35rem;
}

.main-content{
  flex: 1;
  display: flex;
  align-items: stretch;
}
.main-content > div{
  /* outline: 1px solid white; */
}

.side-nav{
  min-width: 10%;
  display: flex;
}
.side-nav-menu{
  
}
.side-nav-links{
  display: flex;
  flex-direction: column;  
  width: max-content;
  padding-inline: 0.3em;
  position: relative;
}
.side-nav-links::before{
  content: "";
  position: absolute; 
  left: -5px;
  right: -5px;
  background: linear-gradient(180deg, rgba(0,0,0,0.85) 65%, rgba(0,0,0,0) 100%);
  filter: blur(25px);
  height: 135%;
}
.side-nav-link{
  position: relative;
  z-index: 2;
}
.side-nav-link{
  background-position: center;
  background-size: 100%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: relative;
}
.side-nav-link.new::before{
  content: '';
  background-image: url('./assets/badge-new-small-off.png');
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
}
/* Weapons */
.side-nav-link.--weapons{
  background-image: url(./assets/ui-side-weapons-off.png);
}
.side-nav-link.--weapons:hover{
  background-image: url(./assets/ui-side-weapons-hover.png);
}
.side-nav-link.--weapons.current{
  background-image: url(./assets/ui-side-weapons-on.png);
}

/* Outfits */
.side-nav-link.--outfits{
  background-image: url(./assets/ui-side-outfits-off.png);
}
.side-nav-link.--outfits:hover{
  background-image: url(./assets/ui-side-outfits-hover.png);
}
.side-nav-link.--outfits.current{
  background-image: url(./assets/ui-side-outfits-on.png);
}

/* Tools */
.side-nav-link.--tools{
  background-image: url(./assets/ui-side-tools-off.png);
}
.side-nav-link.--tools:hover{
  background-image: url(./assets/ui-side-tools-hover.png);
}
.side-nav-link.--tools.current{
  background-image: url(./assets/ui-side-tools-on.png);
}

/* Upgrades */
.side-nav-link.--upgrades{
  background-image: url(./assets/ui-side-upgrades-off-.png);
}
.side-nav-link.--upgrades:hover{
  background-image: url(./assets/ui-side-upgrades-hover.png);
}
.side-nav-link.--upgrades.current{
  background-image: url(./assets/ui-side-upgrades-on.png);
}

/* Ammo */
.side-nav-link.--ammo{
  background-image: url(./assets/ui-side-ammo-off.png);
}
.side-nav-link.--ammo:hover{
  background-image: url(./assets/ui-side-ammo-hover.png);
}
.side-nav-link.--ammo.current{
  background-image: url(./assets/ui-side-ammo-on.png);
}

/* Travel */
.side-nav-link.--travel{
  background-image: url(./assets/ui-side-travel-off.png);
}
.side-nav-link.--travel:hover{
  background-image: url(./assets/ui-side-travel-hover.png);
}
.side-nav-link.--travel.current{
  background-image: url(./assets/ui-side-travel-on.png);
}

.items-grid{
  min-width: 45%;
}
.grid-main{
  display: flex;
  flex-wrap: wrap;
  gap: .6rem;
}
.grid-item{
  background-image: url(./assets/ui-grid-big-off.png);
  background-size: 110%;
  background-position: center;
  cursor: pointer ;
  position: relative;
}
.grid-item:hover,
.grid-item.current{
  background-image: url(./assets/ui-grid-big-on.png);
}
.grid-item:last-child::before{
  content: ""; 
  position: absolute;  
  background: 
      url('./assets/cell-highlight-left.png') no-repeat top left / 3.5rem 3.5rem,
      url('./assets/cell-highlight-right.png') no-repeat bottom right / 3.5rem 3.5rem;
  animation: breathe .75s ease-in-out infinite alternate;
}

@keyframes breathe{
  from{
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
  }
  to{
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
  }
} 
/* 
.grid-item:hover::before,
.grid-item.current::before,
.grid-item:hover::after,
.grid-item.current::after{
  content: '';
  position: absolute;
  background-size: 100%;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

.grid-item:hover::before,
.grid-item.current::before{
  background-image: url(/assets/cell-highlight-left.png);
  animation: breathe-left .75s ease-in-out infinite alternate;
  top: 0;
  left: 0;
}
@keyframes breathe-left{
  from{
    transform: translate(-20%, -10%);
  }
  to{
    transform: translate(-30%, -20%);
  }
}

.grid-item:hover::after,
.grid-item.current::after{
  background-image: url(/assets/cell-highlight-right.png);
  animation: breathe-right .75s ease-in-out infinite alternate;
  bottom: 0;
  right: 0;
}
@keyframes breathe-right{
  from{
    transform: translate(20%, 10%);
  }
  to{
    transform: translate(30%, 20%);
  }
} */



.grid-item > img{
  max-width: 7rem;
}
.items-desc{
  min-width: 45%;
}