*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
*:focus{
  outline: none;
}

html {
  font-size: 10px;
}

img {
  max-width: 2.5rem;
}

nav {
  font-size: 1.2rem;
  font-family: 'Omar Light';
  text-transform: uppercase;
}

body {
  font-family: 'Oita W01 Cond Medium';
  color: white;
  letter-spacing: 0.1rem;
  overflow: hidden;
}

main {
  background: url(./assets/background.png) no-repeat center / cover;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 97vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 1rem;
  margin: 0 auto;
}

.nav-main {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 15vh;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  margin: 0 auto;
  padding-top: 0.6rem;
  border-image: url(./assets/ui-grid-big-off.png);
  border-image-slice: 60;
  border-image-width: 0 0 0.2rem 0;
  border-image-repeat: stretch;
  position: relative;
  z-index: 1;
}
.nav-menu::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 30%;
  top: 60%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.1) 100%
  );
  filter: blur(5px);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
  color: #9da8a6;
}

.nav-link {
  letter-spacing: 0.35rem;
  cursor: pointer;
  position: relative;
}
.nav-link:hover,
.nav-link:focus {
  color: #fffdd2;
  outline: none;
}

.nav-link.new::before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: 50%;
  top: 1.8rem;
  transform: translateX(-50%);
  background: url(./assets/badge-new-small-off.png) center / cover;
}
.nav-link.new.current::before {
  background-image: url(./assets/badge-new-small-on.png);
}
.nav-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 200%;
  background: url(./assets/ui-highlight-arrow-topbar.png) no-repeat center /
    3.5rem;
}

.nav-link.current > span{
  color: #dcd284;
  display: inline-block;
  animation: translateUp ease 0.3s;
}
.nav-link.current::after{
  animation: translateDown ease 0.3s;
}

@keyframes translateUp {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20%);
  }
}

@keyframes translateDown {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(20%);
  }
}

.main-content {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.side-nav {
  padding-right: 5rem;
  padding-left: 1rem;
  transition: padding 0.3s ease-out;
  height: 100%;
}

.side-nav-menu{
  position: relative;
}
.side-nav-menu::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.85) 65%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(10px);
  height: 130%;
}

.side-nav-links {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding-inline: 0.3em;
  position: relative;
}

.side-nav-link{
  display: flex;
  align-items: center;
  position: relative;
}
.side-nav-link:not(:first-child) {
  margin-top: -0.3rem;
}
.side-nav-link.new::before {
  content: '';
  background-image: url('./assets/badge-new-small-off.png');
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
}

.side-nav-icon {
  background-position: center;
  background-size: 100%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.side-nav-link > span{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  transform: translateX(-5rem);
  left: 4rem;
  white-space: nowrap;
  cursor: pointer;
  color: #9da8a6;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.side-nav-link:hover > span,
.side-nav-link:focus > span{
  color: #fffdd2;
}

/* Hover animation */
.side-nav.expanded-menu .side-nav-link > span{
  opacity: 1;
  visibility:visible;
  transform: translate(0);
}
.items-grid.expanded-menu{
  transform: translateX(5rem);
}
.items-desc.expanded-menu{
  min-width: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20%);
}


/* Weapons */
.side-nav-link.--weapons > .side-nav-icon{
  background-image: url(./assets/ui-side-weapons-off.png);
}
.side-nav-link.--weapons:hover > .side-nav-icon,
.side-nav-link.--weapons:focus > .side-nav-icon{
  background-image: url(./assets/ui-side-weapons-hover.png);
}
.side-nav-link.--weapons.current > .side-nav-icon{
  background-image: url(./assets/ui-side-weapons-on.png);
}

/* Outfits */
.side-nav-link.--outfits > .side-nav-icon{
  background-image: url(./assets/ui-side-outfits-off.png);
}
.side-nav-link.--outfits:hover > .side-nav-icon ,
.side-nav-link.--outfits:focus > .side-nav-icon {
  background-image: url(./assets/ui-side-outfits-hover.png);
}
.side-nav-link.--outfits.current > .side-nav-icon{
  background-image: url(./assets/ui-side-outfits-on.png);
}

/* Tools */
.side-nav-link.--tools > .side-nav-icon{
  background-image: url(./assets/ui-side-tools-off.png);
}
.side-nav-link.--tools:hover > .side-nav-icon,
.side-nav-link.--tools:focus > .side-nav-icon{
  background-image: url(./assets/ui-side-tools-hover.png);
}
.side-nav-link.--tools.current > .side-nav-icon{
  background-image: url(./assets/ui-side-tools-on.png);
}

/* Upgrades */
.side-nav-link.--upgrades > .side-nav-icon{
  background-image: url(./assets/ui-side-upgrades-off-.png);
}
.side-nav-link.--upgrades:hover > .side-nav-icon,
.side-nav-link.--upgrades:focus > .side-nav-icon{
  background-image: url(./assets/ui-side-upgrades-hover.png);
}
.side-nav-link.--upgrades.current > .side-nav-icon{
  background-image: url(./assets/ui-side-upgrades-on.png);
}

/* Ammo */
.side-nav-link.--ammo > .side-nav-icon{
  background-image: url(./assets/ui-side-ammo-off.png);
}
.side-nav-link.--ammo:hover > .side-nav-icon,
.side-nav-link.--ammo:focus > .side-nav-icon{
  background-image: url(./assets/ui-side-ammo-hover.png);
}
.side-nav-link.--ammo.current > .side-nav-icon{
  background-image: url(./assets/ui-side-ammo-on.png);
}

/* Travel */
.side-nav-link.--travel > .side-nav-icon{
  background-image: url(./assets/ui-side-travel-off.png);
}
.side-nav-link.--travel:hover > .side-nav-icon,
.side-nav-link.--travel:focus > .side-nav-icon{
  background-image: url(./assets/ui-side-travel-hover.png);
}
.side-nav-link.--travel.current > .side-nav-icon{
  background-image: url(./assets/ui-side-travel-on.png);
}

.items-grid {
  max-width: 40%;
  transition: transform 0.3s ease-out;
}
.grid-main {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.grid-item {
  background-image: url(./assets/ui-grid-big-off.png);
  background-size: 110%;
  background-position: center;
  cursor: pointer;
  position: relative;
}

/* Hover/Focus logic */
.grid-item:hover,
.grid-item:focus,
.grid-item.current {
  background-image: url(./assets/ui-grid-big-on.png);
}

.grid-item:hover::before,
.grid-item:focus::before,
.grid-item.current::before {
  content: '';
  position: absolute;
  background:
    url('./assets/cell-highlight-left.png') no-repeat top left / 3.5rem 3.5rem,
    url('./assets/cell-highlight-right.png') no-repeat bottom right / 3.5rem
      3.5rem;
  animation: breathe 0.75s ease-in-out infinite alternate;
}

@keyframes breathe {
  from {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
  }
  to {
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
  }
}

.grid-item.new::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: -0.75rem;
  left: 0;
  bottom: 0;
  background: url(./assets/badge-new-big.png) no-repeat top right / 2.25rem;
}
.grid-item > img {
  max-width: 7rem;
}

/* 
.grid-item:hover::before,
.grid-item.current::before,
.grid-item:hover::after,
.grid-item.current::after{
  content: '';
  position: absolute;
  background-size: 100%;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

.grid-item:hover::before,
.grid-item.current::before{
  background-image: url(/assets/cell-highlight-left.png);
  animation: breathe-left .75s ease-in-out infinite alternate;
  top: 0;
  left: 0;
}
@keyframes breathe-left{
  from{
    transform: translate(-20%, -10%);
  }
  to{
    transform: translate(-30%, -20%);
  }
}

.grid-item:hover::after,
.grid-item.current::after{
  background-image: url(/assets/cell-highlight-right.png);
  animation: breathe-right .75s ease-in-out infinite alternate;
  bottom: 0;
  right: 0;
}
@keyframes breathe-right{
  from{
    transform: translate(20%, 10%);
  }
  to{
    transform: translate(30%, 20%);
  }
} */

.items-desc {
  min-width: 40%;
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  min-height: 50vh;
}

.desc-main {
  min-height: 100%;
  padding-left: 2.5rem;
  background: url(./assets/ui-frame-panel-med.png) top left / 60% no-repeat;
  background-position: 1rem top;
}

.desc-heading {
  font-family: 'Omar Light';
  font-size: 1.75rem;
  display: inline-block;
  letter-spacing: 0.2rem;
  padding: 1rem 0.5rem;
  position: relative;
  z-index: 1;
}
.desc-heading::after {
  content: '';
  position: absolute;
  left: -1.15rem;
  top: 0;
  z-index: -1;
  width: 105%;
  height: 100%;
  background: url(./assets/ui-header-bg.png) top left/cover no-repeat;
}

.desc-body {
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.desc-info {
  font-size: 0.95rem;
  color: #c7bf9e;
  margin-bottom: 0.75rem;
}

.suited-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.suited-item-name {
  word-spacing: 0.2rem;
}

.suited-item-owned > img {
  max-width: 1.5rem;
  filter: sepia(1) saturate(0%) brightness(50%);
  margin: 0 0.2rem;
}
.suited-item-owned {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: #7b7a76;
}

.button-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.button-footer::after {
  content: '';
  position: absolute;
  left: -25%;
  z-index: 0;
  filter: blur(25px);
  width: 150%;
  height: 200%;
  top: 50%;
  background: rgba(255, 255, 255, 0);
  background: radial-gradient(
    at center top,
    rgba(0, 0, 0, 0.4),
    rgba(1, 1, 1, 1)
  );
}

.controller-input-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.controller-input-container > span {
  margin-bottom: 0.1rem;
}
